./Sprinter/local.properties
./Sprinter/app/build

################################################################################################################
# Standard Git Android Gitignore                                                                               #
# https://stackoverflow.com/questions/16736856/what-should-be-in-my-gitignore-for-an-android-studio-project    #
################################################################################################################

#built application files
*.apk
*.ap_
*.aab
                           
# files for the dex VM
*.dex
                            
# Java class files
*.class

./Sprinter/bin/
./Sprinter/gen/

./Sprinter/Thumbs.db

# Mac OSx
.DS_Store

# Android Studio
*.iml
./Sprinter/.idea
./Sprinter/.gradle
./.idea


